body {
    background: #c0e3fa;
    color: #537991;
}

header {
    background-image: linear-gradient(to right, skyblue , #0097fa);
    border-bottom: 3px solid white;
    color: white;
}

.info {
    color: #6c9ebd;
}

.future-weather {
    background: #92d2fc;
    padding: 5px 50px 0px 5px;
    border: 2px solid #277eb8;
    border-radius: 10%;
    color: #6c9ebd;
}

.search-city h2 {
    font-size: 30px;
}

.search-area {
    border: 3px solid grey;
    padding-top: 5px;
}

#current-forecast {
    border: 3px solid grey;
    padding: 5px 5px 5px 5px;
}

.day-forecast {
    border: 3px solid grey;
}



    