header {
    background: #64a4ed;
    border-bottom: 3px solid #3d7abf;
}
.future-weather {
    background: skyblue;
    padding: 5px 50px 0px 5px;
    border: 2px solid blue;
    border-radius: 10%;
}

.search-city h2 {
    font-size: 30px;
}

.search-area {
    border: 3px solid grey;
    padding-top: 5px;
}

.current-forecast {
    border: 3px solid grey;
    padding: 5px 5px 5px 5px;
}

.day-forecast {
    border: 3px solid grey;
}

.future-weather {
   
}


    